* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f3f3f3;
}

/* NAVBAR FIXA */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #222;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}
.logout-btn {
    float: right;
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 5px 10px;
    border-radius: 5px;
}


#btnMenu {
    background: none;
    border: none;
    color: white;
    font-size: 26px;
    cursor: pointer;
    margin-right: 15px;
}

/* SIDEBAR FIXA */
.sidebar {
    position: fixed;
    top: 60px; /* fica abaixo do navbar */
    left: 0;
    width: 230px;
    height: calc(100vh - 60px);
    background: #333;
    color: white;
    padding-top: 20px;
    overflow-y: auto;
    transition: 0.3s;
    z-index: 999;
}

.sidebar a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
}
.sidebar a:hover {
    background: #444;
}

/* CONTEÚDO */
.content {
    margin-top: 60px;    /* deixa espaço para o navbar */
    margin-left: 230px;  /* deixa espaço para o sidebar */
    padding: 20px;
    transition: 0.3s;
}

/* Quando o menu estiver escondido */
.sidebar.hide {
    left: -230px;
}
.content.expand {
    margin-left: 20px;
}
